*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    width: 80%;
}

.float-left{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


#container-header{
    height: 130px;
    background-color: lightpink;
}

#container-1{
    height: 450px;
    background-color: lightseagreen;
    margin-top: 20px;
}

#container-2{
    height: 600px;
    margin-top: 20px;
}

.section-1,
.section-2,
.section-3{
    background-color: lightsalmon;
}

.section-1{
   height: 100px;
}

.section-2{
    height: calc(600px - 100px - 20px);
    margin-top: 20px;
    width: 15%;
}

.section-3{
    height: calc(600px - 100px - 20px);
    width: 67%; 
    margin: 20px 24px;
}

#container-footer{
    height: 70px;
    background-color: lightskyblue;
    margin-top: 20px;
}


